.example-container {
    display: flex;
    flex-direction: column;
  }
  
  .example-container > * {
    width: 100%;
  }
  
  .formAddEvent{
    font-size: 18px;
  }
  .example-spacer{
    flex: 1 1 auto;
  }
  