.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
}
.button-row button,
.button-row a {
margin-right: 8px;
float: right;
}
mat-form-field {
  width: 100%;
}
h2{
  color: green
}