h3 {
    margin: 0 0 10px;
  }
  
pre {
    background-color: #f5f5f5;
    padding: 15px;
  }
.cell-totals {
  margin: 5px;
  text-align: center;
}
.badge {
  margin-right: 5px;
}
@media only all and (max-width: 480px){
  .buttonYear1{
    display: none;
  }
  .buttonYear0{
    display: none;
  }
  .buttonYear3{
    display: none;
  }
  .buttonYear4{
    display: none;
  }
}
@media  only all and (max-width: 630px){
  .monthSelect{
    display: none;
  }
  .yearSelect{
    display: none;
  }
}
@media only all and (min-width: 630px){
  .shortMonthSelect{
    display: none;
  }
}
@media  only all and (min-width: 630px){
  .shortYearSelect{
    display: none;
  }
}
.yearSelect{
  font-size: 20px;
}
.monthSelect{
  font-size:20px;
}
mat-button-toggle-group{
  width: 100%;
}
mat-button-toggle{
  margin: auto;
  font-size:17px;
  opacity: 1;
  height: 30px;
}
mat-tab .label{
  color: red;
}
.badge-events{
  background-color:#cbcacc;
  @extend .badgeStyle
}
.badge-leave1{
  background-color:#dac1dd;
  @extend .badgeStyle
}
.badge-leave2{
  background-color:#FDFF3A;
  @extend .badgeStyle
}
.badgeStyle{
  width: 100%;
  border-radius: 0px;
  margin-bottom:1px;
  height: 28px;
}
.badge-leave3{
  background-color:#7bd150;
  @extend .badgeStyle
}