<div class="monthView">
  <!-- This is popup -->
  <button mat-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="addNewEvents()">
      <mat-icon>add</mat-icon>Add new events
    </button>
  </mat-menu>

  <!-- This is for display event -->
  <ng-template #customCellTemplate let-day="day" let-locale="locale">
    <div class="cal-cell-top">
      <span class="cal-day-number">{{ day.date | calendarDate:'monthViewDayNumber':locale }}</span>
    </div>
    <div class="cell-totals largeView">
      <div *ngFor="let group of day.eventGroups">
        <button *ngIf="group[0] === 'events'" class="btn btn badge-{{ group[0] }}">{{ group[1][0].title }}
        </button>
      </div>
      <div *ngFor="let group of day.eventGroups">
        <button *ngIf="group[0] === 'leave1'" class="btn btn badge-{{ group[0] }}">{{ group[1][0].title }}
        </button>
      </div>
      <div *ngFor="let group of day.eventGroups">
        <button *ngIf="group[0] === 'leave2'" class="btn btn badge-{{ group[0] }}">{{ group[1][0].title }}
        </button>
      </div>
      <div *ngFor="let group of day.eventGroups">
        <button *ngIf="group[0] === 'leave3'" class="btn btn badge-{{ group[0] }}">{{ group[1][0].title }}
        </button>
      </div>
    </div>
    <div class="cell-totals smallView">
      <span *ngFor="let group of day.eventGroups" (click)="testEvent(group)" class="btn btn badge-{{ group[0] }}">
        {{ group[1].length }}
      </span>
    </div>
  </ng-template>

  <!-- This is tab Calendar month view -->
  <mat-tab-group dynamicHeight (selectedTabChange)="selectTab($event)" [selectedIndex]="selectedIndex">
    <mat-tab label="Month View" (click)="selectTab(0)">
      <div class="example-large-box mat-elevation-z4">
        <br />

        <!-- This is taskbar for choose month and year -->
        <div>
          <mat-button-toggle-group #group="matButtonToggleGroup" class="yearSelect">
            <mat-button-toggle *ngFor="let year of listYear; let index=index" value="year" (click)="clickYear(index)">
              {{year}}
            </mat-button-toggle>
          </mat-button-toggle-group>
          <mat-form-field class="shortYearSelect">
            <mat-select placeholder="Choose year">
              <mat-option *ngFor="let year of listYear; let index=index" (click)="clickYear(index)" [value]="year">
                {{year}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <!-- for choose month -->
        <div>
          <mat-button-toggle-group #group="matButtonToggleGroup" class="monthSelect">
            <mat-button-toggle *ngFor="let month of listMonth; let index = index" value="month" (click)="clickMoth(index)">
              {{month}}
            </mat-button-toggle>
          </mat-button-toggle-group>
          <mat-form-field class="shortMonthSelect">
            <mat-select placeholder="Choose month">
              <mat-option *ngFor="let month of listMonth; let index = index" value="month" (click)="clickMoth(index)">
                {{month}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <hr />
        <!-- This is view curent date in the current table data -->
        <!-- This is Month view -->
        <div class="row">
          <div class="col-4">
            <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
          </div>
          <div class="col-2">
          </div>
          <div class="col-3">
            <div>
              <select class="form-control">
                <option value="">Filter by Employee ID</option>
                <option>a</option>
                <option>a</option>
                <option>a</option>
                <option>a</option>
              </select>
            </div>
          </div>
          <div class="col-3">
            <div>
              <select class="form-control">
                <option value="">Filter by Event type</option>
                <option>a</option>
                <option>a</option>
                <option>a</option>
                <option>a</option>
              </select>
            </div>
          </div>
        </div>
        <br>
        <mwl-calendar-month-view [viewDate]="viewDate" [events]="events" [refresh]="refresh" [cellTemplate]="customCellTemplate"
          (beforeViewRender)="beforeMonthViewRender($event)" (dayClicked)="dayClicked($event.day)" [activeDayIsOpen]="activeDayIsOpen"
          (eventTimesChanged)="eventTimesChanged($event)">
        </mwl-calendar-month-view>
      </div>
    </mat-tab>

    <!-- This is tab Table view -->
    <mat-tab label="Date View" (click)="selectTab(1)">
      <div class="example-large-box mat-elevation-z4">
        {{viewDate}}
        <app-day-view [CalendarEvents]="eventsCurrentDay">

        </app-day-view>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>