.cell-totals {
  margin: 2px;
  text-align: center;
}
.badge {
  margin-right: 5px;
}
@media only all and (max-width: 480px){
  .buttonYear1{
    display: none;
  }
  .buttonYear0{
    display: none;
  }
  .buttonYear3{
    display: none;
  }
  .buttonYear4{
    display: none;
  }
}
@media  only all and (max-width: 630px){
  .monthSelect{
    display: none;
  }
  .yearSelect{
    display: none;
  }
  .shortMonthSelect{
    width: 100%;
  }
  .shortYearSelect{
    width: 100%;
  }
}

@media only all and (max-width:640px){
  .largeView{
    display: none;
  }
  .smallView{
    text-align: center;
  }
}
@media only all and (min-width:640px){
  .smallView{
    display:none;
  }
  .shortMonthSelect{
    display: none;
  }
  .shortYearSelect{
    display: none;
  }
}
@media only all and (min-width:700px){
}

.yearSelect{
  font-size: 20px;
}
.monthSelect{
  font-size:20px;
}
mat-button-toggle-group{
  width: 100%;
}
mat-button-toggle{
  margin: auto;
  font-size:17px;
  opacity: 1;
  height: 30px;
}
mat-tab .label{
  color: red;
}
.badge-events{
  background-color:#b4ddee;
  @extend .badgeStyle
}
.badge-leave1{
  background-color:#d7bed9;
  @extend .badgeStyle
}
.badge-leave2{
  background-color:#f2fb94;
  @extend .badgeStyle
}
.badge-leave3{
  background-color:#9dea55;
  @extend .badgeStyle
}
.badgeStyle{
  width: 100%;
  border-radius: 0px;
  font-size:14px;
  height: 28px;
  line-height: 100%;
  text-align: left;
  white-space: nowrap; 
        overflow: hidden;
        text-overflow: ellipsis;
        
}


