<div>
  <mat-button-toggle-group #group="matButtonToggleGroup" class="yearSelect">
    <mat-button-toggle *ngFor="let year of listYear; let index=index" value="year" (click)="clickYear(index)">
      {{year}}
    </mat-button-toggle>
  </mat-button-toggle-group>
  <mat-button-toggle-group #group="matButtonToggleGroup" class="shortYearSelect">
    <mat-button-toggle (click)="previousYear()">
      <mat-icon>keyboard_arrow_left</mat-icon>
    </mat-button-toggle>
    <mat-button-toggle>
      {{currentYear}}
    </mat-button-toggle>
    <mat-button-toggle (click)="nextYear()">
      <mat-icon>keyboard_arrow_right</mat-icon>
    </mat-button-toggle>
  </mat-button-toggle-group>
</div>
<hr/>
<!-- {{viewDate10}} -->
<div class="row customStyleYear">
  <div class="col-lg-2 col-md-4 col-sm-12 col-xs-12 customeTest" *ngFor="let date of listDateView;let index = index">
    <div class="lableMonthName" (click)="toDetailMonthView(index)">{{ listMonthName[index] }}</div>
    <mwl-calendar-month-view [viewDate]="date" [events]="events" [refresh]="refresh" (dayClicked)="dayClicked($event.day)"
     [cellTemplate]="customCellTemplate">
    </mwl-calendar-month-view>
  </div>
</div>