.flex-item{
    width: 30%;
    height: 300px;
    min-width: 300px;
    background-color: tomato;
    color: white;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
    line-height: 150px;
    margin-top: 20px;
}