.flex-item{
    width: 30%;
    height: 300px;
    min-width: 300px;
    background-color: tomato;
    color: white;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
    line-height: 150px;
    margin-top: 20px;
}
h3 {
    margin: 0 0 10px;
  }
  
pre {
    background-color: #f5f5f5;
    padding: 15px;
  }
.navYear{
    text-align:center
    ;border:solid 2px;
    border-radius: 30px;
    cursor: pointer;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  }