<div>
  <mat-button-toggle-group #group="matButtonToggleGroup" class="yearSelect">
    <mat-button-toggle *ngFor="let year of listYear; let index=index" value="year" (click)="clickYear(index)">
      {{year}}
    </mat-button-toggle>
  </mat-button-toggle-group>
  <mat-button-toggle-group #group="matButtonToggleGroup" class="shortYearSelect">
    <mat-button-toggle (click)="previousYear()">
      <mat-icon>keyboard_arrow_left</mat-icon>
    </mat-button-toggle>
    <mat-button-toggle>
      {{currentYear}}
    </mat-button-toggle>
    <mat-button-toggle (click)="nextYear()">
      <mat-icon>keyboard_arrow_right</mat-icon>
    </mat-button-toggle>
  </mat-button-toggle-group>
</div>
<hr/>
{{viewDate1}}
<div class="row customStyleYear">
  <div class="col-lg-2 col-md-4 col-sm-12 col-xs-12 customeTest">
    <mat-card-header style="background-color  :cadetblue">Tháng 1</mat-card-header>
    <mwl-calendar-month-view [viewDate]="viewDate1" [events]="events" [refresh]="refresh" [cellTemplate]="customCellTemplate">
    </mwl-calendar-month-view>
  </div>
  <div class="col-lg-2 col-md-4 col-sm-12 col-xs-12 customeTest">
    <mat-card-header style="background-color:cadetblue">Tháng 1</mat-card-header>
    <mwl-calendar-month-view [viewDate]="viewDate2" [events]="events" [refresh]="refresh" [cellTemplate]="customCellTemplate">
    </mwl-calendar-month-view>
  </div>
  <div class="col-lg-2 col-md-4 col-sm-12 col-xs-12 customeTest">
    <mat-card-header style="background-color:cadetblue">Tháng 1</mat-card-header>
    <mwl-calendar-month-view [viewDate]="viewDate3" [events]="events" [refresh]="refresh" [cellTemplate]="customCellTemplate">
    </mwl-calendar-month-view>
  </div>
  <div class="col-lg-2 col-md-4 col-sm-12 col-xs-12 customeTest">
    <mat-card-header style="background-color:cadetblue">Tháng 1</mat-card-header>
    <mwl-calendar-month-view [viewDate]="viewDate4" [events]="events" [refresh]="refresh" [cellTemplate]="customCellTemplate">
    </mwl-calendar-month-view>
  </div>
  <div class="col-lg-2 col-md-4 col-sm-12 col-xs-12 customeTest">
    <mat-card-header style="background-color:cadetblue">Tháng 1</mat-card-header>
    <mwl-calendar-month-view [viewDate]="viewDate5" [events]="events" [refresh]="refresh" [cellTemplate]="customCellTemplate">
    </mwl-calendar-month-view>
  </div>
  <div class="col-lg-2 col-md-4 col-sm-12 col-xs-12 customeTest">
    <mat-card-header style="background-color:cadetblue">Tháng 1</mat-card-header>
    <mwl-calendar-month-view [viewDate]="viewDate6" [events]="events" [refresh]="refresh" [cellTemplate]="customCellTemplate">
    </mwl-calendar-month-view>
  </div>
  <div class="col-lg-2 col-md-4 col-sm-12 col-xs-12 customeTest">
    <mat-card-header style="background-color:cadetblue">Tháng 1</mat-card-header>
    <mwl-calendar-month-view [viewDate]="viewDate7" [events]="events" [refresh]="refresh" [cellTemplate]="customCellTemplate">
    </mwl-calendar-month-view>
  </div>
  <div class="col-lg-2 col-md-4 col-sm-12 col-xs-12 customeTest">
    <mat-card-header style="background-color:cadetblue">Tháng 1</mat-card-header>
    <mwl-calendar-month-view [viewDate]="viewDate8" [events]="events" [refresh]="refresh" [cellTemplate]="customCellTemplate">
    </mwl-calendar-month-view>
  </div>
  <div class="col-lg-2 col-md-4 col-sm-12 col-xs-12 customeTest">
    <mat-card-header style="background-color:cadetblue">Tháng 1</mat-card-header>
    <mwl-calendar-month-view [viewDate]="viewDate9" [events]="events" [refresh]="refresh" [cellTemplate]="customCellTemplate">
    </mwl-calendar-month-view>
  </div>
  <div class="col-lg-2 col-md-4 col-sm-12 col-xs-12 customeTest">
    <mat-card-header style="background-color:cadetblue">Tháng 1</mat-card-header>
    <mwl-calendar-month-view [viewDate]="viewDate10" [events]="events" [refresh]="refresh" [cellTemplate]="customCellTemplate">
    </mwl-calendar-month-view>
  </div>
  <div class="col-lg-2 col-md-4 col-sm-12 col-xs-12 customeTest">
    <mat-card-header style="background-color:cadetblue">Tháng 1</mat-card-header>
    <mwl-calendar-month-view [viewDate]="viewDate11" [events]="events" [refresh]="refresh" [cellTemplate]="customCellTemplate">
    </mwl-calendar-month-view>
  </div>
  <div class="col-lg-2 col-md-4 col-sm-12 col-xs-12 customeTest">
    <mat-card-header style="background-color:cadetblue">Tháng 1</mat-card-header>
    <mwl-calendar-month-view [viewDate]="viewDate12" [events]="events" [refresh]="refresh" [cellTemplate]="customCellTemplate">
    </mwl-calendar-month-view>
  </div>
</div>