<mat-card>Apply Leave</mat-card>
<br>
<form (ngSubmit)="onSubmit()">
  <div class="row">
    <div class="col-6">
      <mat-form-field>
        <span matPrefix></span>
        <input matInput placeholder="Staff Name" [formControl]="staffName" [errorStateMatcher]="matcher">
        <mat-error *ngIf="staffName.hasError('required')">
          Event title
          <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="col-6">
      <mat-form-field>
        <input matInput placeholder="Employee ID" [formControl]="employeeID" [errorStateMatcher]="matcher">
        <mat-error *ngIf="employeeID.hasError('required')">
          Event title
          <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="col-4">
      <mat-form-field>
        <mat-select placeholder="Leave type" [formControl]="leaveType" [errorStateMatcher]="matcher">
          <mat-option value="option">Option</mat-option>
        </mat-select>
        <mat-error *ngIf="leaveType.hasError('required')">Please choose an event type</mat-error>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="From date" [formControl]="fromDate" [errorStateMatcher]="matcher"
          required readonly>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker touchUi (click)="Hello()"></mat-datepicker>
        <mat-error *ngIf="fromDate.hasError('required')">
          Event date
          <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="col-1">
      <select class="form-control">
        <option value="AM" select>AM</option>
        <option value="PM">PM</option>
      </select>
    </div>
    <div class="col-4">
      <mat-form-field>
        <input matInput [min]="fromDate.value" [matDatepicker]="picker1" placeholder="To date"
        [formControl]="toDate" [errorStateMatcher]="matcher" required readonly>
        <mat-datepicker-toggle touchUi matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="col-1">
      <select class="form-control">
        <option value="AM">AM</option>
        <option value="PM">PM</option>
      </select>
    </div>
    <div class="col-2">
      <!-- if large scren size is 23 else size is 14-15 -->
      <div style="font-size:22vh">
        5
      </div>
    </div>
  </div>
  <button mat-raised-button color="primary" style="float:right">Submit</button>
</form>