/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "../node_modules/angular-calendar/css/angular-calendar.css";

html, body { height: 100%; }
body {
     margin: 0; 
    font: 400 24px/32px Roboto,"Helvetica Neue",sans-serif }
.cal-month-view .cal-day-cell:not(:last-child) {
    border-right: 0px solid #e1e1e1; }
.cal-month-view .cal-days {
    border: 0px solid #e1e1e1;
}
.cal-month-view .cal-header {
    color:cadetblue;
}
.cal-month-view .cal-day-number {
    opacity: 0.8;
    font-size: 1em;
}
@media only all and (max-width:375px){
    .cal-month-view .cal-day-number {
        font-size: 0.8em;
    }
}
@media only all and (max-width:320px){
    .cal-month-view .cal-day-number {
        font-size: 0.6em;
    }
    .cal-month-view .cal-day-cell.cal-today .cal-day-number {
        font-size: 1em; }
}
.cal-month-view .cal-header {
    font-weight: 100px;
 }
 .cal-month-view .cal-cell-top {
    min-height: auto;
    height: 40px;
}
.cal-month-view .cal-day-cell {
    min-height: auto; }


